body {
    font-family: Dancing Script , sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    }
    
    header.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF914D;
    padding: 15px 20px;
    }
    
    header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    }
    
    header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    }
    
    header nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    }
    
    /* Hero Section */
    .hero {
    background-color: #FFA764;
    color: white;
    text-align: center;
    padding: 50px 20px;
    }
    
    .hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
    }
    
    .hero .btn {
    background-color: #FF914D;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    }
    
    .hero .btn:hover {
    background-color: #E26D35;
    }
    
    /* Sobre Nós */
    .sobre {
    padding: 40px 20px;
    text-align: center;
    background-color: #FDF2E9;
    }
    
    .sobre h2 {
    font-size: 28px;
    margin-bottom: 20px;
    }
    
    /* Produtos */
    .produtos {
    padding: 40px 20px;
    text-align: center;
    }
    
    .produtos h2 {
    font-size: 28px;
    margin-bottom: 20px;
    }
    
    .galeria {
    display: flex;
    justify-content: center;
    gap: 20px;

    flex-wrap: wrap;
    }
    
    .produto {
    text-align: center;
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 200px;
    }
    
    .produto img {
    width: 100%;
    border-radius: 8px;
    }
    
    .produto h3 {
    margin: 10px 0 5px;
    font-size: 18px;
    color: #333;
    }
    
    /* Contato */
    
    .contato {
    padding: 40px 20px;
    text-align: center;
    background-color: #FDF2E9;
    }
    
    .contato form {
    max-width: 400px;
    margin: 0 auto;
    }
    
    .contato input, .contato textarea, .contato button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    }
    
    .contato button {
    background-color: #FF914D;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    }
    
    .contato button:hover {
    background-color: #E26D35;
    
    }
    
    /* Footer */
    footer {
    background-color: #FF914D;
    color: white;
    text-align: center;
    padding: 10px 20px; 
    }